* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

html{
  scroll-behavior: smooth;
  background-color: #c4d5e6;
}

/* Container */

 /* .container {
  width: 1280px;
  margin: 0 auto;
}  */

/* Nav */



.nav {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  background: #23395B;
}

.nav ul{
  display: flex;
 
}

.nav ul li {
  padding-left: 30px;
}

.nav ul li a{
  color: #effdfa;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0px 0px 2px #f3f3f3;
}

@media (max-width: 768px) {
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav ul {
    margin-top: 20px;
  }
}

/* Main */

.main section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main section h1 {
  font-size: 64px;
  margin: 40px 0;
  color: #161925;
  text-shadow: 0px 0px 2px #161925;
}

.main-items {
  margin: 0% 20% 2% 20%;
  display: flex;
  justify-content: space-around;
}

.item {
  margin: 0 3%;
  border-radius: 15px;
  padding: 30px;
  background-color: #f3f3f3;
  box-shadow: 2px 4px 5px rgb(68, 68, 68);
}

.item img {
  width: 100%;
  border-radius: 15px;
}

.item h2, .item p {
  padding: 10px 0;
  color: #161925;
  text-shadow: 0px 0px 2px #161925;
}

.item h2 {
  font-size: 32px;
}

.item p {
  font-size: 18px;
}

.item p {
  margin-bottom: 20px;
}

.item a {
  display: inline-block;
  border-radius: 15px;
  background-color: rgb(240, 168, 75);
  padding: 15px;
  color: #161925;
  font-size: 18px;
  
}

.item a:hover {
  transform: scale(1.1);
}

/* @media (max-width: 768px) {
  .main-items {
    margin: 0% 5% 2% 5%;
  }
  .item {
    margin: 0 1%;
  }
  .item p {
    margin-bottom: 20px
  }
  .item a {
    padding: 10px;
    
  }
} */
@media (max-width: 768px) {
  .main-items {
    flex-direction: column;
    margin: 0% 5% 2% 5%;
  }
  .item {
    margin: 5% 1%;
  }
  .main section h1 {
    font-size: 36px;
    margin: 20px 10px 0 10px;
  }
}

/* Footer */

.footer {
  background-color: #23395B;
  padding: 20px;
}

.footer ul{
  display: flex;
  justify-content: space-around;
}

.footer ul li a {
  color: #CBF7ED;
  font-size: 24px;
}
